In [81]:
a = 10
b = 20

print(a+b)

30

In [82]:
_num = 30
print( _num*2)

60

In [1]:
num = 50
print(num)
print(type(num))

50
<class 'int'>

In [84]:
num_2 = 20.5
print(num_2)
print(type(num_2))

20.5
<class 'float'>

In [85]:
a = 10 + 20j

print(type(a))

<class 'complex'>

In [86]:
num_3 = 10.5e12
print(num_3)
print(type(num_3))

10500000000000.0
<class 'float'>

In [87]:
my_list = [10,5,"jhon",6.2,True]
print(my_list)
print(type(my_list))

[10, 5, 'jhon', 6.2, True]
<class 'list'>

In [88]:
print(my_list[0])
print(my_list[1])

10
5

In [89]:
print(my_list[-1])

True

In [90]:
print(my_list[1:4])  # Slicing the list from index 1 to 3

[5, 'jhon', 6.2]

In [91]:
print(my_list[:3])  # Slicing the list from index 1 to 3

[10, 5, 'jhon']

In [92]:
print(my_list[2:])  # Slicing the list from index 1 to 3

['jhon', 6.2, True]

In [93]:
my_list_2 = [1,2,4.5,"hello","hello",2]
print(my_list_2)

[1, 2, 4.5, 'hello', 'hello', 2]

In [94]:
my_list [2] = "Maleesha"
print(my_list)

[10, 5, 'Maleesha', 6.2, True]

In [95]:
my_list [2:5] = ["kate",9.4,False]
print(my_list)

[10, 5, 'kate', 9.4, False]

In [96]:
my_list.append("dog")
print(my_list)

[10, 5, 'kate', 9.4, False, 'dog']

In [77]:
my_list.insert(2, "cat")
print(my_list)

[10, 5, 'cat', 'cat', 'kate', 9.4, False, 'dog']

In [99]:
my_list.insert(0, "first")
print(my_list)

['first', 10, 5, 'kate', 9.4, False, 'dog']

In [100]:
my_list.extend(my_list_2)
print(my_list)

['first', 10, 5, 'kate', 9.4, False, 'dog', 1, 2, 4.5, 'hello', 'hello', 2]

In [101]:
my_list.remove("dog")
print(my_list)

['first', 10, 5, 'kate', 9.4, False, 1, 2, 4.5, 'hello', 'hello', 2]

In [102]:
my_list.pop(2)
print(my_list)

['first', 10, 'kate', 9.4, False, 1, 2, 4.5, 'hello', 'hello', 2]

In [103]:
students = ["Amal","Binu","Chamara"]
students.append("Dilani")
students.insert (2, "Ishan")
students.remove("Amal")
students.insert(0, "Farah")
print(students)

['Farah', 'Binu', 'Ishan', 'Chamara', 'Dilani']

In [104]:
print(len(students))  # Length of the list

5

In [106]:
del students[1]  # Deleting the second element
print(students)

['Farah', 'Chamara', 'Dilani']

In [110]:
my_list = [10, 20, 30, 40, 50]
del my_list
print(len (my_list))  # This will raise an error since my_list is deleted

NameError: name 'my_list' is not defined

In [113]:
my_list = [10, 20, 30, 40, 50]
my_list.clear()  # This will clear the list but not delete it
print(my_list)  # This will print an empty list
print(len(my_list))  # This will print 0 since the list is empty

[]
0

In [115]:
my_list = ["banana", "apple", "cherry", "Date"]
my_list.sort()  # Sorts the list in ascending order
print(my_list)  # This will print the sorted list

['Date', 'apple', 'banana', 'cherry']

In [78]:
x = 7
a = float(x)
print(x, type(x))
print(a, type(a))

7 <class 'int'>
7.0 <class 'float'>

In [79]:
y = 20.8
b = int(y)
print(y, type(y))
print(b, type(b))

20.8 <class 'float'>
20 <class 'int'>

In [80]:
num_1 = 80
num_2 =90

print(num_1*num_2)

7200

In [ ]:
num_list = [10, 20, 30, 40, 50,2,1,3,5,6,2,7,8,9,10,11,12,13,14,15]
num_list.sort(reverse=True)
print(num_list)

[50, 40, 30, 20, 15, 14, 13, 12, 11, 10, 10, 9, 8, 7, 6, 5, 3, 2, 2, 1]

In [1]:
my_list_3 = [10, 20, 30, 40, 50]
my_list_4 =my_list_3.copy() 
print(my_list_3)
print(my_list_4)
my_list_3 [2] = 22
print(my_list_3)
print(my_list_3[1:7])  # This will still show the original values since my_list_4 is a copy
print(my_list_4)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 22, 40, 50]
[20, 22, 40, 50]
[10, 20, 30, 40, 50]

In [2]:
my_list_8 = [10, 20, 30, 40, 50]
print(my_list_8[2:10])

[30, 40, 50]

In [120]:
my_list_6 = [10, 20, 30, 40, 50]
my_list_6.reverse()
print(my_list_6)  # This will print the list in reverse order

[50, 40, 30, 20, 10]

In [121]:
new_list = my_list_6+my_list_4
print(new_list)  # This will print the concatenated list

[50, 40, 30, 20, 10, 10, 20, 30, 40, 50]