In [ ]:
# Python Functions
def add_numbers(a,b):
    return a+b
print(add_numbers(3,4))

7

In [24]:
# write a function "count even numbers"that takes a list of integers &returns the count of even numbers
def count_even_numbers(numbers):
    count = 0
    for number in numbers:
        if number % 2 == 0:
            count += 1
    return count
print(count_even_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

5

In [25]:
# write a function "find max(lst)"that takes a list of numbers & returns the maximum value (without using max())
def find_max(lst):
    max_value = lst[0]
    for number in lst:
        if number > max_value:
            max_value = number
    return max_value
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5]
print(find_max(lst))

9

In [41]:
# write a function named "remove_duplicates(lst)"that returns a new list with duplicates removed.(preswerve order)
def remove_duplicates(lst):
    new_list = []
    for item in lst:
        if item not in new_list:
            new_list.append(item)
    return new_list
lst = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(lst))

[1, 2, 3, 4, 5]

In [42]:
# Deafult arguments in functions
def add_numbers(a,b=8):
    return a+b
print(add_numbers(3))  # Using default value for b
print(add_numbers(3, 4))  # Using provided value for b

11
7

In [ ]:
# write a function that calculates &returns the value of a number raised to a certain power.The function should accept two arguments: te number and the exponent.It the exponent is not provided,it should calculate the square of the number
def power(number,exponent = 2):
    return number ** exponent
print(power(3,3))
print(power(3))

27
9

In [40]:
# write a function factorial(n) that returns the factorial of a number n
def factorial(n):
    result = 1
    if n == 0:
        return result
    for i in range(1, n + 1):
        result *= i
    return result
print(factorial(5))

120

In [48]:
def display_numbers(a,b):
    print("a:", a)
    print("b:", b)

display_numbers(a=10,b=20) 
display_numbers(b=30,a=40)  # Keyword arguments allow you to specify the order
display_numbers(50, 60)  # Positional arguments work as well

a: 10
b: 20
a: 40
b: 30
a: 50
b: 60

In [60]:
# write a function that calculates an employee's net salary.The function should accept the based salary,bonus(default to 0)and tax rate (default to 10%) The net salary is calculated by adding the bonus to the based salary & substracting the the tax.Demostrate different ways of calling this function using positional ane keyword arguments
def calculate_net_salary(base_salary, bonus=0, tax_rate = 0.1):
    net_income = base_salary + bonus
    net_salary = net_income * (0.9)
    return net_salary
print(calculate_net_salary(50000))
print(calculate_net_salary(50000,10000))
print(calculate_net_salary(50000, tax_rate=0.15))
print(calculate_net_salary(base_salary=50000, bonus=10000, tax_rate=0.15))

45000.0
54000.0
45000.0
54000.0

In [62]:
# Arbitrary arguments in functions
def arbitrary_positional_args(*args):
    print(args)
    print(type(args))
    for arg in args:
        print(arg)

arbitrary_positional_args(1, 2, 3, 4, 5)  # Passing multiple positional arguments

(1, 2, 3, 4, 5)
<class 'tuple'>
1
2
3
4
5

In [ ]:
# write a function multipli all that accepts any number of numbers & returns their products.If no numbers are provided return 1.
def multiply_all(*args):
    product = 1
    for num in args:
        product*= num
    return product
print(multiply_all(2, 3, 4)) 
print(multiply_all())

24
1

In [68]:
dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
for key in dict.keys():
    print(key)

name
age
city

In [69]:
for value in dict.values():
    print(value)

Alice
30
New York

In [70]:
for key,value in dict.items():
    print("key:", key, "value:", value)

key: name value: Alice
key: age value: 30
key: city value: New York

In [76]:
# Arbitrary keyword arguements(**kwargs)
def arbitrary_keyword_args(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(key, ":", value)
arbitrary_keyword_args(name="Alice", age=30, city="New York")  # Passing multiple keyword arguments

{'name': 'Alice', 'age': 30, 'city': 'New York'}
<class 'dict'>
name : Alice
age : 30
city : New York

In [80]:
def add_students(**kwargs):
    stu_list = {}
    for key,value in kwargs.items():
        stu_list[key] = value
    return stu_list
       
def display_students(stu_list):
    for key, value in stu_list.items():
        print(key, ":", value)

stu_lists = add_students(SS01="Alice", SS02="Bob", SS03="Charlie", SS04="David", SS05="Eve")
display_students(stu_lists)

SS01 : Alice
SS02 : Bob
SS03 : Charlie
SS04 : David
SS05 : Eve

In [82]:
# python built-in functions
def find_square(x):
    return x ** 2

my_list = [6, 5, 3, 2, 9]
square_list = map(find_square,my_list)
print(list(square_list))

[36, 25, 9, 4, 81]

In [89]:
def convert(celsius):
    fahrenheit = celsius * 9/5 + 32
    return fahrenheit

def convert_to_fahrenheit(celsius):
    fahrenheit_list = list(map(convert,celsius))
    return fahrenheit_list
celsius_list = [0, 20, 37, 100,-10]
print(convert_to_fahrenheit(celsius_list))

[32.0, 68.0, 98.6, 212.0, 14.0]

In [90]:
# filter function
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def is_even(num):
    return num % 2 == 0
even_numbers = list(filter(is_even, list1))
print(even_numbers)

[2, 4, 6, 8, 10]

In [91]:
# lambda functions
add = lambda x, y: x + y
result = add(5, 3)
print(result)

8

In [92]:
print((lambda x, y: x * y)(5, 3))  # Using lambda function directly

15

In [105]:
# given list of integers,use map() with a lambda function to create a new list where each number is double
numbers = [1, 2, 3, 4, 5]
print(list(map(lambda x: x * 2, numbers)))

[2, 4, 6, 8, 10]

In [109]:
# write a pyton program that use the filter() function with a lambda function to remo ve all odd numbers from the list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = filter(lambda x: x % 2 == 0 ,numbers)
print(list(even_numbers))

[2, 4, 6, 8, 10]

In [111]:
# write a python program with a lambda function to decide the largest between two numbers
Largest = lambda x,y : x if x > y else y
print(Largest(10, 20))
print(Largest(30, 20))
print(Largest(-15, 1))

20
30
1